.FullScreen {
	z-index: 9999;
	background-color: var(--dark-opacity-4);
	&-close {
		top: 1.25rem;
		right: 1.25rem;
		cursor: pointer;
		&, svg {
			transition: all 600ms var(--transition);
		}
		svg {
			font-size: 2rem;
			color: var(--gray-900)
		}
		&:hover {
			transform: scale(0.8);
			svg {
				color: var(--gray-600)
			}
		}
	}
	&-image {
		max-width: 90%;
		max-height: 90%;
	}
}