.FullScreen {
	z-index: 9999;
	background-color: var(--dark-opacity-4);
	&-close {
		top: 1.25rem;
		right: 1.25rem;
		cursor: pointer;
		background-color: var(--gray-50);
		padding: 0.55rem 0.65rem 0.45rem;
		border-radius: var(--border-radius);
		&, svg {
			transition: all 600ms var(--transition);
		}
		svg {
			line-height: 0;
			font-size: 2rem;
			color: var(--gray-900)
		}
		&:hover {
			transform: scale(0.9);
			svg {
				color: var(--gray-600)
			}
		}
	}
	&-image {
		max-width: 90%;
		max-height: 90%;
	}
}