.Header {
	z-index: 1337;
	height: var(--header-height);
	&-Secondary {
		.Header {
			&-logo a p {
				font-size: 1.25rem;
			}
		}
		transform: translateY(calc(-1 * var(--header-height-with-bg)));
		border-bottom: 1px solid transparent;
		background-color: var(--white-opacity-9);
		@supports (backdrop-filter: blur(8px)) {
			background-color: var(--white-opacity-8);
			backdrop-filter: blur(8px);
		}
		height: var(--header-height-with-bg);
		transition: all 800ms var(--transition);
		&.is-scrolled {
			transform: translateY(0);
			border-bottom-color: var(--gray-200);
		}			
	}
	&-wrapper {
		@include desktop {
			flex-direction: column;
		}
		margin: 0;
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}
	&-logo {
		@include desktop {
			width: 100%;
			margin-bottom: 1.75rem;
		}
		a {
			text-decoration: none;
			p {
				color: var(--main);
				font-weight: 800;
				font-size: 1.45rem;
				span {
					color: var(--gray-900);
					font-style: italic;
				}
			}
		}
	}
	&-nav {
		&-item {
			cursor: pointer;
			p, svg {
				color: var(--gray-900);
			}
			p {
				font-weight: 600;
				font-size: .875rem;
			}
			svg {
				font-size: 1rem;
			}
		}
		a:not(:last-child) {
			margin-right: 2.25rem;
		}
	}
	&-ham-menu {
		font-size: 1.75rem;
	}
}