.Header {
	z-index: 1337;
	height: var(--header-height);
	box-shadow: var(--shadow-2xl);
	background-color: #fff;
	&-wrapper {
		@include desktop {
			flex-direction: column;
		}
		margin: 0;
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}
	&-logo {
		@include desktop {
			width: 100%;
			margin-bottom: 1.75rem;
		}
		a {
			text-decoration: none;
			p {
				color: var(--main);
				font-weight: 800;
				font-size: 1.45rem;
				span {
					color: var(--gray-900);
					font-style: italic;
				}
			}
		}
	}
	&-nav {
		&-item {
			cursor: pointer;
			p {
				font-weight: 600;
				font-size: .875rem;
			}
			svg {
				font-size: 1rem;
			}
			&:not(:last-child) {
				margin-right: 2.25rem;
			}
		}
	}
	&-ham-menu {
		font-size: 1.75rem;
	}
}