.Logo {
	&.Light {
		p, span {
			color: #fff!important;
		}
		p {
			font-weight: 400!important;
		}
		span {
			font-weight: 900!important;
		}
	}
	p {
		font-size: 1.25rem;
		color: var(--main);
		font-weight: 900!important;
		span {
			color: var(--gray-900);
			font-style: italic;
		}
		@include desktop {
			font-size: 1.45rem;
		}
	}
}