.EditModal {
	z-index: 5000;
	background-color: var(--black-opacity-4);
	&-wrapper {
		background-color: var(--gray-50);
		border-radius: var(--border-radius);
		box-shadow: var(--shadow-xl);
		padding: 1.25rem 1.5rem;
		max-width: 90%;
		@include desktop {
			max-width: 60%;
		}
		max-height: 90%;
		overflow-y: scroll;
		overflow-x: hidden;
		margin: 0 auto;
		&-close {
			margin: 1rem 0;
			button {
				padding: 0;
				border-radius: 0;
				font-size: 1.75rem
			}
		}
		.Pictures {
			margin-top: 0.75rem;
			margin-bottom: 1rem;
			&-item-image {
				--res: 75px;
			}
		}
	}
}