.Product {
	&-image {
		width: 300px;
		height: 300px;
		box-shadow: 0 10px 45px rgba(0, 0, 0, 0.05);
		border-radius: var(--border-radius);
		overflow: hidden;
	}
	&-name, &-price {
		font-weight: 700;
	}
	&-name {
		text-transform: capitalize;
		font-size: 1.15rem;
	}
	&-price {
		color: var(--gray-400);
		font-size: 0.825rem;
		line-height: 0;
	}
}