.Product {
	&-image {
		width: var(--product-image-width);
		height: calc(var(--product-image-width) - 100px);
		box-shadow: 0 10px 45px rgba(0, 0, 0, 0.05);
		border-radius: var(--border-radius);
		overflow: hidden;
	}
	&-name, &-price {
		font-weight: 700;
	}
	&-name {
		text-transform: capitalize;
		font-size: 1.15rem;
		color: var(--gray-900);
		padding: 0 1.25rem;
		text-align: center;
	}
	&-price {
		color: var(--gray-400);
		font-size: 0.825rem;
	}
}