.Product {
	&-image {
		width: 200px;
		height: 200px;
		@include desktop {
			width: 300px;
			height: 300px;
		}
		box-shadow: 0 10px 45px rgba(0, 0, 0, 0.05);
		border-radius: var(--border-radius);
		overflow: hidden;
	}
	&-name, &-price {
		font-weight: 700;
	}
	&-name {
		text-transform: capitalize;
		font-size: 1.15rem;
		color: var(--gray-900);
	}
	&-price {
		color: var(--gray-400);
		font-size: 0.825rem;
		line-height: 0;
	}
}