.Pictures {
	margin-top: 1.75rem;
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1.5rem;
	&-item {
		.remove-icon {
			font-size: 1.75rem;
			color: var(--danger);
			cursor: pointer;
		}
		&-image {
			--res: 80px;
			@include desktop {
				--res: 125px;
			}
			border-radius: var(--border-radius);
			height: var(--res);
			width: var(--res);
			max-height: var(--res);
			max-width: var(--res);
			min-height: var(--res);
			min-width: var(--res);
			overflow: hidden;
			margin-right: 1rem;
		}
		border: 1px solid var(--gray-200);
		border-radius: var(--border-radius);
		padding: 0.5rem 1.5rem;
	}
	&-add {
		grid-column: span 2;
		column-gap: 0.5rem;
		@include desktop {
			column-gap: 1.25rem;
		}
		.button {
			padding-top: 1.5rem;
		}
		a {
			display: block;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid var(--main);
			padding: 0.75rem;
			&:hover {
				border: 1px solid var(--main-light-600);
			}
		}
	}
}