.ProductPage {
	margin: 2rem auto 8rem;
	&-main {
		@include desktop {
			flex-direction: row;
			align-items: flex-start;
			column-gap: 1.5rem;
		}
		&-image {
			overflow: hidden;
			@include desktop {
				max-width: 70%;
			}
			&-main {
				&-navigation {
					cursor: pointer;
					font-size: 1.25rem;
					color: var(--gray-900);
					margin: 0 0.75rem;
					&.disabled {
						opacity: 0.5;
						cursor: default;
					}
					@include desktop {
						margin: 0 0.5rem;
						font-size: 1.5rem;
					}
				}
				&-image {
					border-radius: var(--border-radius);
					overflow: hidden;
				}
			}
			&-secondary {
				--secondary-image-resolution: 50px;
				@include desktop {
					--secondary-image-resolution: 70px;
				}
				height: var(--secondary-image-resolution);
				width: 100%;
				margin-top: 2rem;
				padding: 0 2.25rem;
				transition: all 500ms var(--transition);
				@include desktop {
					padding: 0 2.45rem;
				}
				&-image {
					cursor: pointer;
					height: 100%;
					max-width: calc(var(--secondary-image-resolution) + 30px);
					width: calc(var(--secondary-image-resolution) + 30px);
					min-width: calc(var(--secondary-image-resolution) + 30px);
					overflow: hidden;
					border-radius: var(--border-radius);
					transition: all 300ms var(--transition);
					border: 1px solid var(--gray-300);
					&:not(:last-child) {
						margin-right: 1rem;
					}
					&.active, &:hover {
						border-color: var(--main-light-800);
						opacity: 0.5;
					}
					&.active {
						cursor: default;
					}
				}
			}
		}
		&-name {
			margin-top: 3rem;
			@include desktop {
				margin-top: 1.25rem;
				padding: 0;
			}
			&-title {
				text-align: left;
				p {
					font-weight: 400;
					text-transform: uppercase;
					line-height: 0;
				}
				h1 {
					text-transform: capitalize;
					font-family: Sora;
				}
			}
			&-price {
				margin-top: 1.25rem;
				p.title {
					font-family: Sora;
				}
				.icons {
					.icon {
						margin-left: 1rem;
						svg {
							color: var(--main);
							font-size: 1.5rem;
							margin-bottom: 0.25rem;
							cursor: pointer;
						}
						&.review svg {
							font-size: 1.75rem;
						}
						.text {
							color: var(--gray-900);
							font-weight: 500;
							font-size: 0.725rem;
						}
					}
				}
			}
			&-colors {
				--color-width: 6rem;
				@include desktop {
					--color-width: 6rem;
				}
				display: grid;
				grid-template-columns: repeat(auto-fit, var(--color-width));
				grid-template-rows: auto;
				grid-gap: 0.75rem;
				margin-top: 1.25rem;
				&-color {
					padding: 0.5rem;
					border: 1px solid var(--gray-400);
					border-radius: var(--border-radius);
					cursor: pointer;
					transition: all 500ms var(--transition);
					img {
						max-width: 100%;
						margin-bottom: 0.5rem;
						border-radius: var(--border-radius);
					}
					p.text {
						text-align: center;
						font-size: 0.725rem;
					}
					&.active, &:hover {
						border-color: var(--main-light-800);
						box-shadow: 1px 0px 5px var(--main-light-200);
					}
					@include desktop {
						padding: 0.5rem;
						img {
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}